<template>
  <div class="m-3">
    <div class="card-title">
      <h4 class="text-dark font-weight-bolder mb-6">Consultorios</h4>
    </div>

    <v-row>
      <v-col class="text-right" lg="12">
        <agregarConsultorio :actualizar_table="get_consultorios" :doctor="doctor"/>
      </v-col>
    </v-row>

    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
      :headers="headers"
      :items="data"
      item-key="id"
      class="elevation-1"
      :search="search"
    >
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left>
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="blue" dark icon v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list v-if="item != null">
            <modificarConsultorio    :actualizar_table="get_consultorios" :consultorio="item"  />
            <v-list-item @click="eliminar(item.id)">
              <v-list-item-title
                ><v-icon color="red" class="mr-4" small> mdi-delete </v-icon
                >Eliminar</v-list-item-title
              ></v-list-item
            >
          </v-list>
        </v-menu>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import agregarConsultorio from "./Components/agregarConsultorio.vue";
import modificarConsultorio from "./Components/modificarConsultorio.vue";
export default {
  components: { agregarConsultorio, modificarConsultorio },
  props: ["doctor"],
  data: function () {
    return {
      data: [],
      search: "",
      headers: [
        { text: "Id", value: "id", sortable: true },
        { text: "Doctor", value: "doctor", sortable: false },
        { text: "Descripción", value: "descripcion", sortable: true },
        { text: "Actions", value: "actions", sortable: false },
      ],
    };
  },
  mounted() {
    this.get_consultorios();
  },
  methods: {
    get_consultorios: async function () {
      await axios
        .get("/consultorios/consultorio/" + this.doctor)
        .then((response) => {
          this.data = response.data.data;
        });
    },

    eliminar: async function (id) {
      this.$spinner();
      await axios.delete("/consultorios/consultorio/" + id).then((response) => {
        Swal.close();
        if (response.data.status) {
          this.get_consultorios();
        }
      });
    },
  },
};
</script>