<template>
  <div class="m-3">
    
    <div class="card-title">
      <h4 class="text-dark font-weight-bolder mb-6">Doctores</h4>
    </div>

    <v-row>
      <v-col class="text-right" lg="12">
        <agregarDoctor :actualizar_table="get_doctores" />
      </v-col>
    </v-row>

    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
      :headers="headers"
      :items="data"
      item-key="id"
      class="elevation-1"
      :search="search"
    >
      <template v-slot:item.actions="{ item }">
        <v-menu bottom left>
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="blue" dark icon v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list v-if="item != null">
            <editarDoctro   ref="editar_doctor" :actualizar_table="get_doctores" :doctor="item"  />
            <v-list-item @click="eliminar(item.id)">
              <v-list-item-title
                ><v-icon color="red" class="mr-4" small> mdi-delete </v-icon
                >Eliminar</v-list-item-title
              ></v-list-item
            >
            <v-list-item
              ><v-list-item-title><RouterLink :to="{ path: `/consultorios/${item.id}`, params: {doctor: item.id}}">Consultorios</RouterLink></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import agregarDoctor from "./components/agregarDoctor.vue";
import editarDoctro from "./components/modificarDoctro.vue";
export default {
  components: { agregarDoctor, editarDoctro },
  data: function () {
    return {
      data: [],
      search: "",
      headers: [
        { text: "Nombre", value: "nombre" },
        { text: "Apellido paterno", value: "apellido_p" },
        { text: "Apellido materno", value: "apellido_m" },
        { text: "Actions", value: "actions", sortable: false },
      ],
    };
  },
  mounted() {
    this.get_doctores();
  },

  methods: {
    get_doctores: async function () {
      await axios.get("/doctor").then((response) => {
        this.data = response.data.data;
      });
    },

    abrir_modal() {
      this.dialog = !this.dialog;
    },

    eliminar: async function (id) {
      this.$spinner();
      await axios.delete("/doctor/" + id).then((response) => {
        Swal.close();
        if (response.data.status) {
          this.get_doctores();
        }
      });
    },

    enviar_datos_modificacion_doctor(doc){
        this.$refs.editar_doctor.obtener_datos_doctor();
    }
  },
};
</script>