<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }" class="text-right">
        <v-row>
          <v-col lg="12" class="text-right">
            <v-btn color="success" v-bind="attrs" v-on="on">
              Agregar consultorio
            </v-btn>
          </v-col>
        </v-row>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          Agregar consultorio
        </v-card-title>

        <v-card-text>
          <v-form v-model="valid">
            <v-container>
              <v-row>
                <v-col lg="12">
                  <v-text-field
                    label="Descripcion"
                    outlined
                    v-model="nombre"
                    :rules="rulesRequired"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="
              () => {
                this.guardar_consultorio();
              }
            "
          >
            Guardar
          </v-btn>
          <v-btn
            color="error"
            text
            @click="
              () => {
                this.dialog = false;
                this.valid = false;
                this.limpiar_datos();
              }
            "
          >
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ["actualizar_table","doctor"],
  data: function () {
    return {
      dialog: false,
      valid: false,
      nombre: "",
      nombreDelete: "",
      rulesRequired: [(v) => !!v || "Campo requerido"],
      
    };
  },
  mounted() {},
  methods: {
    guardar_consultorio: async function () {
      let data = {
        doctor_id:this.doctor,
        nombre:this.nombre,
      }
      console.log(this.doctor);
      this.$spinner();
      await axios.post("/consultorios/consultorio", data).then((response) => {
        if (response.data.status) {
          this.dialog = false;
          this.valid = false;
          Swal.close();
          Swal.fire({
            icon: "success",
            html: response.data.msg,
            confirmButtonText: "Aceptar",
            allowEscapeKey: false,
            allowOutsideClick: false,
            allowEnterKey: false,
          });
          this.actualizar_table();
          this.limpiar_datos();
        } else {
          Swal.fire({
            icon: "error",
            html: response.data.msg,
            confirmButtonText: "Aceptar",
            allowEscapeKey: false,
            allowOutsideClick: false,
            allowEnterKey: false,
          });
        }
      });
    },
    limpiar_datos() {
      this.valid = false;
      this.nombre =  this.nombreDelete;
    },
  },
};
</script>