<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-list-item>
          <v-list-item-title v-bind="attrs" v-on="on">
            <v-icon small class="mr-2"> mdi-pencil </v-icon>
            Editar
          </v-list-item-title>
        </v-list-item>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          Editar consultorio
        </v-card-title>

        <v-card-text>
          <v-form v-model="valid">
            <v-container>
              <v-row>
                <v-col lg="12">
                  <v-text-field
                    label="Nombre"
                    outlined
                    v-model="nombre"
                    :rules="rulesRequired"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="() => actualizar_consultorio()">
            Guardar
          </v-btn>
          <v-btn
            color="error"
            text
            @click="
              () => {
                this.dialog = false;
                this.valid = false;
                this.construir_consultorio_obj();
              }
            "
          >
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ["actualizar_table", "consultorio"],
  data: function () {
    return {
      dialog: false,
      valid: false,
      nombre: {
        id: null,
        nombre: "",
        
      },
      nombreDelete: {
        id: null,
        nombre: "",
      },
      rulesRequired: [(v) => !!v || "Campo requerido"],
    };
  },
  mounted() {
    console.log(this.consultorio);
    this.construir_consultorio_obj();
  },

  methods: {
    construir_consultorio_obj() {
      this.dialog = false;
      this.nombre = this.consultorio.descripcion;
    },
    actualizar_consultorio: async function () {
      let data = {
        nombre: this.nombre,
      }
      this.$spinner();
      await axios
        .patch("/consultorios/consultorio/" + this.consultorio.id, data)
        .then((response) => {
          if (response.data.status) {
            this.dialog = false;
            Swal.close();
            Swal.fire({
              icon: "success",
              html: response.data.msg,
              confirmButtonText: "Aceptar",
              allowEscapeKey: false,
              allowOutsideClick: false,
              allowEnterKey: false,
            });
            this.actualizar_table();
          } else {
            Swal.fire({
              icon: "error",
              html: response.data.msg,
              confirmButtonText: "Aceptar",
              allowEscapeKey: false,
              allowOutsideClick: false,
              allowEnterKey: false,
            });
          }
        });
    },

    obtener_datos_consultorio(doc) {
      console.log(doc);
    },
  },
};
</script>