<template>
  <div class="text-center">
    <v-dialog v-model="dialog">
      <template v-slot:activator="{ on, attrs }" class="text-right">
        <v-row>
          <v-col lg="12" class="text-right">
            <v-btn color="success" v-bind="attrs" v-on="on">
              Agregar doctor
            </v-btn>
          </v-col>
        </v-row>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          Agregar doctor
        </v-card-title>

        <v-card-text>
          <v-form v-model="valid">
            <v-container>
              <v-row>
                <v-col lg="4">
                  <v-text-field
                    label="Nombre"
                    outlined
                    v-model="doctorObj.nombre"
                    :rules="rulesRequired"
                    required
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    label="Primer apellido"
                    outlined
                    v-model="doctorObj.apellidoP"
                    :rules="rulesRequired"
                    required
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    label="Segundo apellido"
                    outlined
                    v-model="doctorObj.apellidoM"
                  ></v-text-field>
                </v-col>
              </v-row>

              <h5 class="text-dark font-weight-bolder">Direccion</h5>
              <hr />

              <v-row>
                <v-col lg="4">
                  <v-text-field
                    label="Calle"
                    :rules="rulesRequired"
                    outlined
                    v-model="doctorObj.calle"
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    label="Primer cruzamiento"
                    outlined
                    :rules="rulesRequired"
                    v-model="doctorObj.cruza"
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    label="Segundo cruzamiento"
                    outlined
                    :rules="rulesRequired"
                    v-model="doctorObj.cruza2"
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    :rules="rulesCodigoP"
                    label="Codigo postal"
                    outlined
                    :counter="5"
                    type="number"
                    v-model="doctorObj.cp"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="
              () => {
                this.guardar_doctor();
              }
            "
          >
            Guardar
          </v-btn>
          <v-btn
            color="error"
            text
            @click="
              () => {
                this.dialog = false;
                this.valid = false;
                this.limpiar_datos();
              }
            "
          >
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ["actualizar_table"],
  data: function () {
    return {
      dialog: false,
      valid: false,
      doctorObj: {
        nombre: "",
        apellidoM: "",
        apellidoP: "",
        cp: "",
        cruza2: "",
        cruza: "",
        calle: "",
      },
      doctorObjDelete: {
        nombre: "",
        apellidoM: "",
        apellidoP: "",
        cp: "",
        cruza2: "",
        cruza: "",
        calle: "",
      },
      rulesRequired: [(v) => !!v || "Campo requerido"],
      rulesCodigoP: [
        (v) => !!v || "Campo requerido",
        (v) => v.length <= 5 || "El codigo postal debe ser de 5 digitos",
      ],
    };
  },
  mounted() {},
  methods: {
    guardar_doctor: async function () {
      this.$spinner();
      await axios.post("/doctor", this.doctorObj).then((response) => {
        if (response.data.status) {
          this.dialog = false;
          this.valid = false;
          Swal.close();
          Swal.fire({
            icon: "success",
            html: response.data.msg,
            confirmButtonText: "Aceptar",
            allowEscapeKey: false,
            allowOutsideClick: false,
            allowEnterKey: false,
          });
          this.actualizar_table();
          this.limpiar_datos();
        } else {
          Swal.fire({
            icon: "error",
            html: response.data.msg,
            confirmButtonText: "Aceptar",
            allowEscapeKey: false,
            allowOutsideClick: false,
            allowEnterKey: false,
          });
        }
      });
    },
    limpiar_datos() {
      this.valid = false;
      this.doctorObj = Object.assign({}, this.doctorObjDelete);
    },
  },
};
</script>