<template>
  <div class="text-center">
    <v-dialog v-model="dialog">
      <template v-slot:activator="{ on, attrs }">
        <v-list-item>
          <v-list-item-title v-bind="attrs" v-on="on">
            <v-icon small class="mr-2"> mdi-pencil </v-icon>
            Editar
          </v-list-item-title>
        </v-list-item>
      </template>

      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          Editar doctor
        </v-card-title>

        <v-card-text>
          <v-form v-model="valid">
            <v-container>
              <v-row>
                <v-col lg="4">
                  <v-text-field
                    label="Nombre"
                    outlined
                    v-model="doctorObj.nombre"
                    :rules="rulesRequired"
                    required
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    label="Primer apellido"
                    outlined
                    v-model="doctorObj.apellidoP"
                    :rules="rulesRequired"
                    required
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    label="Segundo apellido"
                    outlined
                    v-model="doctorObj.apellidoM"
                  ></v-text-field>
                </v-col>
              </v-row>

              <h5 class="text-dark font-weight-bolder">Direccion</h5>
              <hr />

              <v-row>
                <v-col lg="4">
                  <v-text-field
                    label="Calle"
                    :rules="rulesRequired"
                    outlined
                    v-model="doctorObj.calle"
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    label="Primer cruzamiento"
                    outlined
                    :rules="rulesRequired"
                    v-model="doctorObj.cruza"
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    label="Segundo cruzamiento"
                    outlined
                    :rules="rulesRequired"
                    v-model="doctorObj.cruza2"
                  ></v-text-field>
                </v-col>

                <v-col lg="4">
                  <v-text-field
                    :rules="rulesCodigoP"
                    label="Codigo postal"
                    outlined
                    :counter="5"
                    type="number"
                    v-model="doctorObj.cp"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="() => actualizar_doctor()">
            Guardar
          </v-btn>
          <v-btn
            color="error"
            text
            @click="
              () => {
                this.dialog = false;
                this.valid = false;
                this.construir_doctor_obj();
              }
            "
          >
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ["actualizar_table", "doctor"],
  data: function () {
    return {
      dialog: false,
      valid: false,
      doctorObj: {
        id: null,
        direccion_id: null,
        nombre: "",
        apellidoM: "",
        apellidoP: "",
        cp: "",
        cruza2: "",
        cruza: "",
        calle: "",
      },
      doctorObjDelete: {
        id: null,
        direccion_id: null,
        nombre: "",
        apellidoM: "",
        apellidoP: "",
        cp: "",
        cruza2: "",
        cruza: "",
        calle: "",
      },
      rulesRequired: [(v) => !!v || "Campo requerido"],
      rulesCodigoP: [
        (v) => !!v || "Campo requerido",
        (v) => v.length <= 5 || "El codigo postal debe ser de 5 digitos",
      ],
    };
  },
  mounted() {
    console.log(this.doctor);
    this.construir_doctor_obj();
  },

  methods: {
    construir_doctor_obj() {
      this.dialog = false;
      let array = {
        id: this.doctor.id,
        direccion_id: this.doctor.direccion_id,
        nombre: this.doctor.nombre,
        apellidoM: this.doctor.apellido_m,
        apellidoP: this.doctor.apellido_p,
        cp: this.doctor.direccion.codigo_postal,
        cruza2: this.doctor.direccion.cruzamiento2,
        cruza: this.doctor.direccion.cruzamiento,
        calle: this.doctor.direccion.calle,
      };
      this.doctorObj = Object.assign({}, array);
    },
    actualizar_doctor: async function () {
      this.$spinner();
      await axios
        .patch("/doctor/" + this.doctor.id, this.doctorObj)
        .then((response) => {
          if (response.data.status) {
            this.dialog = false;
            Swal.close();
            Swal.fire({
              icon: "success",
              html: response.data.msg,
              confirmButtonText: "Aceptar",
              allowEscapeKey: false,
              allowOutsideClick: false,
              allowEnterKey: false,
            });
            this.actualizar_table();
          } else {
            Swal.fire({
              icon: "error",
              html: response.data.msg,
              confirmButtonText: "Aceptar",
              allowEscapeKey: false,
              allowOutsideClick: false,
              allowEnterKey: false,
            });
          }
        });
    },

    obtener_datos_doctor(doc) {
      console.log(doc);
    },
  },
};
</script>